{% extends "base.html" %}
{% block title%}Pokedex{% endblock title %}

{% block content  %}
		   
<p class="p-3">Mi primer sitio en Django</p>
<p class="p-3">Por: Josue Zambrano</p>
<div class = "card-group">
	{% for pokemon in pokemons%}
		<div class='card'>
			<img src = "{{ pokemon.picture.url }}" alt = "" height="400px">
			<div class = "card-body">
				<h5 class='card-title'>{{ pokemon }}</h5>
				<p class="card-text">Entrenador: {{ pokemon.trainer }}</p>
				<p class= "card-text">Peso: {{ pokemon.weight }}</p>
				<a href = "pokemon/{{pokemon.id}}" class="btn btn-primary">Detalles</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}
